<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header-resource"/>

    <title>项目部署</title>
</head>

<body>
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h2>项目部署</h2>
    </div>
    <table class="table table-striped table-bordered table-hover" id="deployTable">
        <tr>
            <th style="width: 64px"><label><input type="checkbox" id="checkAll" /> 全选</label></th>
            <th style="width: 240px">项目</th>
            <th style="width: 240px">操作</th>
            <th>结果</th>
        </tr>
        <tr th:each="project:${projects}">
            <td><input type="checkbox" name="projects[]" value="${project.name}" /></td>
            <td th:text="${project.name}"></td>
            <td id="${project.name}-operation">
                <a href="https://jenkins.homeking365.com/view/hk-nurse/job/${project.name}/lastBuild/console" target="_blank">console输出</a>
            </td>
            <td><span id="${project.name}-result"></span> <span id="${project.name}-deploy-result" class="text-primary"></span></td>
        </tr>
    </table>
</div>

<div th:replace="footer-resource"/>

</body>
</html>